@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using YakitTakip.IRepository.Personel
@model IQueryable<YakitTakip.Models.TbGorev>
<main>
    <h3>Gorev</h3>
    <div class="container">
        <div class="row">
            <div class="bg-primary col-md-3 col-sm-12">
                @Html.Partial("../Shared/PartialViews/aside")
            </div>
            <section class="col-md-9 col-sm-12">
                <article>
                    <table>
                        <tr>
                            <td>Personel Adı Soyadı</td>
                            <td>Arac</td>
                            <td>Gorev Başlanğıç  Tarihi</td>
                            <td>Gorev Sonu Tarihi</td>
                        </tr>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.PersonelId</td>
                                    <td>@item.AracId</td>
                                    <td>@item.GorevBaslangicTarihi</td>
                                    <td>@item.GorevSonuTarihi</td>
                                    <td>
                                        <button type="button" class="btn btn-danger">Sil</button>
                                        <button type="button" class="btn btn-warning">Güncelle</button>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </article>
            </section>
        </div>
    </div>
</main>