@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IQueryable<YakitTakip.Models.TbGorev>
<main>
    <div class="container">
        <div class="row">
            <div class="bg-danger col-md-3 col-sm-12">
                @Html.Partial("../Shared/PartialViews/aside")
            </div>
            <section class="col-md-9 col-sm-12">
                <article>
                    @foreach (var item in Model)
                    {
                        <h1>Adı Soyadı : @item.Personel.Ad @item.Personel.Soyad</h1>
                        <br/>
                        
                        <h1>Araç Plakası: @item.Arac.Plaka</h1>
                        <br/>
                        
                        <h2>Açıklama : @item.Aciklama</h2>
                        <br/>
                        
                        <h3>Görev Başlangıc Tarihi : @item.GorevBaslangicTarihi</h3>
                        <h3>Görev Son Tarihi : @item?.GorevSonuTarihi</h3>
                        <br/>
                        
                        <h3>Başlangıc Km : @item?.BaslangicKm</h3>
                        <h3>Bitiş Km : @item?.BitisKm</h3>
                    }
                </article>
            </section>
        </div>
    </div>
</main>