@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IQueryable<YakitTakip.Models.TbPersonel>
<main>
    <div class="container">
        <div class="row">
            <div class="bg-danger col-md-3 col-sm-12">
                @Html.Partial("../Shared/PartialViews/aside")
            </div>
            <section class="col-md-9 col-sm-12">
                <article>
                   @foreach (var item in Model)
                    {
                        <h1>Adı Soyadı : @item.Ad @item.Soyad</h1>
                        <h2>Telefon Numarası : @item.TelefonNo</h2>
                        <h3>İlk Kayıt Tarihi : @item.IlkKayitTarihi</h3>
                        <h3>Son Kayit Tarihi : @item?.SonKayitTarihi</h3>
                    }
                </article>
            </section>
        </div>
    </div>
</main>