﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IQueryable<YakitTakip.Models.TbPersonel>
<main>
    <h3>Personel</h3>
    <a href="/PersonelRead/Ekle" class="btn btn-success"> Personel Ekle </a>
    <div class="container">
        <div class="row">
            <div class="bg-danger col-md-3 col-sm-12">
                @Html.Partial("../Shared/PartialViews/aside")
            </div>
            <section class="col-md-9 col-sm-12">
                <article>
                    <table>
                        <tr>
                            <td>AD</td>
                            <td>SOYAD</td>
                            <td>TELEFON NUMARASI</td>
                            <td>İlk Kayıt Tarihi</td>
                            <td>Son Kayıt Tarihi</td>
                        </tr>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Ad</td>
                                    <td>@item.Soyad</td>
                                    <td>@item.TelefonNo</td>
                                    <td>@item.IlkKayitTarihi</td>
                                    <td>@item.SonKayitTarihi</td>
                                    <td>
                                        <form method="post" action="/PersonelRead/Detay">
                                            <input type="hidden" name="id" value="@item.Id">
                                            <button type="submit" class="btn btn-primary"> Detay </button>
                                        </form>
                                        <form method="post" action="/PersonelRead/Guncelleme">
                                            <input type="hidden" name="id" value="@item.Id">
                                            <button type="submit" class="btn btn-warning"> Güncelleme </button>
                                        </form>
                                        <form method="post" action="/PersonelWrite/Sil">
                                            <input type="hidden" name="id" value="@item.Id">
                                            <button type="submit" class="btn btn-danger"> Sil </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </article>
            </section>
        </div>
    </div>
</main>